h3 {
  color: var(--grey);
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  cursor: pointer;
}

.arrow {
  height: 10px;
  aspect-ratio: 1/1;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  transition: 0.4s;
}

.arrow.show {
  transform: rotate(44deg);
}

.option {
  background-color: var(--light-cream);
  padding: 20px;
  margin: 20px 0px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 10px;
}

.choosen-option {
  background-color: var(--dark-cyan);
}

.option:hover {
  background-color: var(--pale-orange);
}

.options {
  display: none;
}

.options.show {
  display: flex;
  flex-direction: column;
}

.order-summary {
  background-color: var(--dark-grey-blue);
  padding: 12px;
  border-radius: 10px;
  margin: 30px 0px;
}

.order-summary h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--grey);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.order-summary .summary-text {
  color: var(--light-cream);
}

.btn-create {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

.details {
  display: none;
  color: var(--grey);
}

.details:not(:last-child) p {
  font-family: "Fraunces", sans-serif;
  border-bottom: 1px solid var(--grey);
  cursor: pointer;
  line-height: 3;
}

p.active {
  color: var(--dark-grey-blue);
}

p.active span {
  color: var(--dark-cyan);
}

@media (min-width: 768px) {
  .options.show {
    flex-direction: row;
    column-gap: 10px;
  }
  .option {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    justify-content: space-between;
    column-gap: 100px;
  }

  .details {
    display: block;
  }
}
