.headquarters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headquarters h2 {
  color: var(--grey);
  margin-bottom: 40px;
}

.items .headquarter {
  font-family: "Barlow", sans-serif;
  margin-bottom: 40px;
}

.headquarter h3 {
  line-height: 2;
}

@media (min-width: 768px) {
  .headquarters {
    text-align: left;
    padding: 40px 74px 74px 60px;
  }
  .headquarters .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .items .headquarter {
    width: calc(100% / 3);
  }
}

@media (min-width: 1200px) {
  .headquarters {
    padding: 50px 80px 80px 70px;
  }
}
