.collection h2 {
  font-size: 46px;
  text-align: center;
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.product {
  height: 100%;
  text-align: center;
  max-width: 80%;
  margin: 44px auto 60px auto;
}

.product img {
  max-width: 60%;
}

.text p {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .collection h2 {
    font-size: 100px;
    margin-bottom: -92px;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 60%;
  }
  .product img {
    max-width: 240px;
  }
}

@media (min-width: 1440px) {
  .collection h2 {
    font-size: 160px;
  }
  .products {
    column-gap: 20px;
    grid-auto-flow: column;
  }
  .product {
    width: 100%;
    display: block;
    justify-content: space-between;
    text-align: center;
  }
}
