.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.work h2 {
  color: var(--grey);
  margin-bottom: 36px;
}

.work h3 {
  color: var(--dark-grey-blue);
}

.create-btn {
  display: block;
  margin: 50px auto;
  padding: 15px 25px;
  background-color: var(--dark-cyan);
  color: var(--light-cream);
  border-radius: 10px;
  font-family: "Fraunces", sans-serif;
}

@media (min-width: 768px) {
  .work {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
