@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --dark-cyan: #0e8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream: #fefcf7;
  --grey: #83888f;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 100px;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}


@media (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 68px;
  }
  p {
    font-size: 24px;
  }
}
