@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

:root {
  --dark-cyan: #0e8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream: #fefcf7;
  --grey: #83888f;
}

li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
